*, *::after, *::before {
    box-sizing: border-box;
  }
  
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
  }
  
  .snakes {
    background-color: blue;
    border: .25vmin solid black;
  }

  #game-board {
    background-color: #CCC;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
  }
  
  .apple {
    background-color: red;
    border: .25vmin solid black;
  }
  
  .score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: blue;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
    text-align: right;
  }

  .menu {
    top: 10px;
    left: 10px;
    
  }